/*-- scss:defaults --*/

// Paleta de cores do projeto (ajustar à identidade visual da UEL)
$primary: #003366;
$link-color: #00529b;

/*-- scss:rules --*/

.quarto-title-block .subtitle {
  font-weight: 300;
}
